<div class="cardContainer">
    <h2 style="text-align: center; "><a href="" >lets start learning</a></h2>
    <div class="ui cards  ">

        <a href="/Design/courses" class=" catCard padding  "> 
        <div class="ui card link catCard padding  ">
            
                <div class="image ">
                   <img src="/images/design.jpeg" alt="Web Design"> 
                </div>
                <div class="content ">
                    <div class="header d-flex justify-content-center">  
                        Design
                    </div>
                </div>
        </div>
    </a>


        <a href="/Development/courses" class="padding catCard ">
            <div class="ui card catCard padding link ">
                <div class="image ">
                    <img src="/images/development.jpg" alt="Web Design">
                </div>
                <div class="content ">
                    <div class="header d-flex justify-content-center">
                        Development
                    </div>
                </div>
            </div>
        </a>
        <a href="/Photography/courses" class="padding catCard ">
            <div class="ui card catCard padding link">
                <div class="image ">
                    <img src="/images/photo.jpg" alt="Web Design">
                </div>
                <div class="content ">
                    <div class="header d-flex justify-content-center">
                        Photography
                    </div>
                </div>
            </div>
        </a>
        <a href="/Marketing/courses" class="padding catCard ">
            <div class="ui card catCard padding link">
                <div class="image ">
                    <img src="/images/business.jpg" alt="Web Design">
                </div>
                <div class="content ">
                    <div class="header d-flex justify-content-center">
                        Marketing
                    </div>
                </div>
            </div>
        </a>
        <a href="/Music/courses" class="padding catCard ">
            <div class="ui card catCard padding link">
                <div class="image ">
                    <img src="/images/music.jpg" alt="Web Design">
                </div>
                <div class="content ">
                    <div class="header d-flex justify-content-center">
                        Music
                    </div>
                </div>
            </div>
        </a>
        <a href="/Graphics/courses" class="padding catCard ">
            <div class="ui card catCard padding link  ">
                <div class="image ">
                    <img src="/images/Graphic.jpg" alt="Web Design">
                </div>
                <div class="content ">
                    <div class="header d-flex justify-content-center">
                        Graphics
                    </div>
                </div>
            </div>
        </a>
    </div>



</div>