</div>

</body>
<footer>
  <div class="footer d-flex justify-content-between">
    <div>
      <ul>
        <li> <a href="/Partner with Us">Partner with Us </a> </li>
        <li> <a href="/Teach on PathShala">Teach on PathShala</a> </li>
        <li> <a href="/Get the app">Get the app </a> </li>
        <li> <a href="/About Us">About Us</a> </li>
        <li> <a href="/Contact Us">Contact Us</a> </li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="/Career">Career</a></li>
        <li><a href="/Help and Support">Help and Support </a></li>
        <li><a href="/Affiliate">Affiliate</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="/Terms">Terms</a></li>
        <li><a href="/Privacy Policy">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div style="text-align: center;">  © 2021 PathShala </div>
</footer>

</html>