<%- include('header.ejs') %>
<div class="d-flex flex-column justify-content center"><h2 style="text-align: center; "> Pages can be created as per requirement in case of static content </h2></div>
<%- include('footer.ejs') %>